$app-dark-blue: #0a285f;
$app-light-blue: #0075be;
$app-orange: #d5a100;
$app-yellow: #ffcc00;
$app-red: rgb(251, 27, 27);
$app-black: #000000;
$app-gray: rgba(223, 223, 223, 0.8);
$app-white: #ffffff;
